<!DOCTYPE html><html><head>
    <meta charset="UTF-8">
    <title>Authorize?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <center>
    <div style="display:inline-block; text-align:left; font-family:sans-serif">
    <p>Hi {{user_firstname}},</p>

    <p>
    Are you sure you want to grant
    </p>
    <pre>
    {{url}}
    </pre>
    access to the MyCrud sandbox:
    <pre>
    {{sandbox}}
    </pre>
    <p>
    of your user "<b>{{user_login}}</b>"?
    </p>
    <p style="text-align: right">
    <a href="{{url}}"><button>no</button></a> <a href="{{target_url}}"><button>yes</button></a>
    </p>
    </div>
    </center>
  </body>
</html>
